<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">

    {% block style %}
    {% endblock %}
    <title>App name</title>
</head>

<body>
  <div class="containter mx-auto bg-han-purple">
    <header class="flex p-6">
      <div>
        <i class="fa-solid fa-piggy-bank text-white text-4xl mr-2"></i>
        <span class="text-4xl font-archivo-black text-white mr-6">Money Pot</span>
      </div>
      <nav class="bg-han-purple justify-between">
        <ul class="flex text-white">
          <li class="mr-6 hover:text-fluorescent-blue">
            <a href="main.html">Home</a>
          </li>
          <li class="mr-6  hover:text-fluorescent-blue">
            <a href="">Money Pots</a>
          </li">
          <li class="mr-6  hover:text-fluorescent-blue">
            <a href="signup.html">Register</a>
          </li>
          <li class="mr-6  hover:text-fluorescent-blue">
            <a href="">Login</a>
          </li>
        </ul>
      </nav>
    </header>
  </div>
  
  <!--
  <nav>
        <div class="nav-left">
          <a href="#" class="logo">My Website</a>
        </div>
        <div class="nav-right">
          <a  href="{{ url_for('signup') }}" class="signup-btn">Sign Up</a>
        </div>
      </nav>
    <header>
        <h1>Test Heading</h1>
        <h2 class="text-fluorescent-blue font-archivo-black">Main header of the site</h2>
    </header> -->

    <!-- flash messages -->
    <section>
    </section>


    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>main footer of the site</p>
    </footer>
    <!-- fontawesome script -->
    <script src="https://kit.fontawesome.com/f687081393.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% block script %}
    {% endblock %}
</body>

</html>