<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
    <!-- JQuery -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
      integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- TailwindCSS dark mode localStorage checker -->
    <script>
      // It's best to inline this in `head` to avoid FOUC (flash of unstyled content) when changing pages or themes
      console.log('first line of script');
      if (
        localStorage.getItem('color-theme') === 'dark' ||
        (!('color-theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
    {% block style %} {% endblock %}
    <title>Money Pot</title>
  </head>

  <body>
    <main class="min-h-screen flex flex-col justify-between">
      <div aria-label="content-wrapper">

        <header class="items-center lg:flex lg:py-5 lg:px-[4rem] lg:justify-between bg-trypan-blue dark:bg-space-cadet">
          <!-- logo -->
          <div class="pt-4 pl-4 lg:pt-0">
            <i class="fa-solid fa-piggy-bank text-4xl mr-2 md:text-5xl text-white"></i>
            <span class="font-archivo-black text-4xl md:text-5xl text-white"><a href="{{ url_for('home') }}">Money Pot</a></span>

          </div>
          <!-- navigation menu -->
          <nav class="pt-3 pl-8 lg:pl-0 items-end bg-inherit lg:flex dark:bg-inherit">
            <ul class="hidden lg:flex lg:justify-center lg:space-x-[3rem] text-white md:text-xl" id="myTopNav">
              <li class="p-1 lg:p-0 hover:text-fluorescent-blue dark:hover:text-rajah">
                <a href="{{ url_for('home') }}">Home</a>
              </li>
              <li class="p-1 lg:p-0 hover:text-fluorescent-blue dark:hover:text-rajah">
                <a href="{{ url_for('dashboard') }}">Money Pots</a>
              </li>
              {% if session.user %}
              <li class="p-1 lg:p-0 hover:text-fluorescent-blue dark:hover:text-rajah">
                <a href="{{ url_for('logout') }}">Logout</a>
              </li>
              {% else %}
              <li class="p-1 lg:p-0 hover:text-fluorescent-blue dark:hover:text-rajah">
                <a href="{{ url_for('signup') }}">Register</a>
              </li>
              <li class="p-1 lg:p-0 hover:text-fluorescent-blue dark:hover:text-rajah">
                <a href="{{ url_for('login') }}">Login</a>
              </li>
              {% endif %}
            </ul>
            <!-- burger menu -->
            <div onclick="myFunction()" class="absolute top-4 right-0 mt-2 cursor-pointer float-right bg-trypan-blue dark:bg-rajah hover:bg-fluorescent-blue dark:hover:bg-fluorescent-blue mr-5 lg:hidden">
                <span class="block w-8 h-0.5 m-2 bg-white"></span>
                <span class="block w-8 h-0.5 m-2 bg-white"></span>
                <span class="block w-8 h-0.5 m-2 bg-white"></span>
            </div>
          </nav>
          <button
            id="theme-toggle"
            type="button"
            class="text-white dark:bg-white dark:text-space-cadet bg-gray-700 focus:outline-none dark:focus:ring-space-cadet rounded-lg text-sm p-1"
          >
            <svg
              id="theme-toggle-dark-icon"
              class="w-6 h-6 hidden"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
              ></path>
            </svg>
            <svg
              id="theme-toggle-light-icon"
              class="w-6 h-6 hidden"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                fill-rule="evenodd"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
        </header>
        <!-- flash messages -->
        <section></section>
        <section class="mt-[2rem] md:mt-[5rem] flex flex-col md:w-[70%] md:mx-auto md:my-0">
          {% block content %} {% endblock %}
        </section>
      </div>
      <footer class="p-7 bg-trypan-blue dark:bg-space-cadet">
        <!-- social media icons -->
        <div>
          <ul class="flex justify-center pb-3 text-2xl text-white">
            <li class="mr-6 hover:text-fluorescent-blue">
              <a
                href="https://www.facebook.com"
                target="_blank"
                rel="noopener"
                aria-label="Visit our Facebook page (opens in a new tab)"
                ><i class="fa-brands fa-facebook"></i
              ></a>
            </li>
            <li class="mr-6 hover:text-fluorescent-blue">
              <a
                href="https://www.instagram.com"
                target="_blank"
                rel="noopener"
                aria-label="Visit our Instagram page (opens in a new tab)"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
            <li class="mr-6 hover:text-fluorescent-blue">
              <a
                href="https://www.twitter.com"
                target="_blank"
                rel="noopener"
                aria-label="Visit our Twitter page (opens in a new tab)"
                ><i class="fa-brands fa-square-twitter"></i
              ></a>
            </li>
            <li class="hover:text-fluorescent-blue">
              <a
                href="https://www.linkedin.com"
                target="_blank"
                rel="noopener"
                aria-label="Visit our LinkedIn page (opens in a new tab)"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
        <!-- copyright and disclaimer -->
        <div>
          <p class="text-center text-white">© Copyright Hackthon Team.</p>
          <p class="text-center text-white hover:text-fluorescent-blue"><a
            href="https://github.com/AwsSG/revfinance"
            target="_blank"
            rel="noopener"
            aria-label="Checkout our repository (opens in a new tab)"
            >Checkout our GitHub repository.</a></p>
          <p class="text-center text-white">
            <span class="font-bold">Disclaimer:</span> this website was created
            for educational purposes only.
          </p>
        </div>
      </footer>
    </main>

    <!-- fontawesome script -->
    <script
      src="https://kit.fontawesome.com/f687081393.js"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% block script %} {% endblock %}
  </body>
</html>
