{% extends "base.html" %}
{% block content %}

<div class="form">

    <form id="createPot" action="createPot" method="POST">
        <p id="errorMsg"></p>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="goal">Goal Amount:</label><br>
        <input type="number" id="goal" name="goal"><br>
        <label for="cycle">Payment Cycle:</label><br>
        <select name="cycle" id="cycle">
            <option value="weekly">Weekly</option>
            <option value="Bi-weekly">Bi-Weekly</option>
            <option value="Monthly">Monthly</option>
        </select><br>
        <label for="amount">Recurrent payment amount:</label><br>
        <input type="number" id="amount" name="amount"><br>
        <input type="checkbox" id="private" name="private" value="True" checked>
        <label for="private"> Private </label><br>

        <label for="peer1">Peer 1:</label><br>
        <input type="email" id="peer1" name="peer1"><br>
        <label for="peer2">Peer 2:</label><br>
        <input type="email" id="peer2" name="peer2"><br>
        <label for="peer3">Peer 3:</label><br>
        <input type="email" id="peer3" name="peer3"><br>
        <label for="peer4">Peer 1:</label><br>
        <input type="email" id="peer4" name="peer4"><br>

        <input type="submit" value="Create new Pot">

    </form>
</div>

<!-- This div is to be deleted, it is just to display the users -->
{% if pots == None %}
<h1>No pots yet</h1>
{% else %}
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Goal</th>
            <th>Cycle</th>
            <th>Amount</th>
            <th>Private</th>
            <th>Peers</th>
        </tr>
    {% for pot in pots %}
    <tr>
        <td>{{ pot.Id }}</td>
        <td>{{ pot.Title }}</td>
        <td>{{ pot.Goal }}</td>
        <td>{{ pot.Cycle }}</td>
        <td>{{ pot.Private }}</td>
        <td>{{ pot.PaymentAmount }}</td>
        <td>{{ pot.PeersEmails }}</td>
    </tr>
    {% endfor %}
    </table>
    
</div>
{% endif %}

{% endblock %}