{% extends "base.html" %}
{% block content %}

<div class="flex pb-20">
    <div class="form w-5/6 p-4 m-auto border-2 rounded-lg border-han-purple shadow-2xl shadow-han-purple/50 md:w-2/3 2xl:w-1/3">

        <h1 class="mt-2 block">Create a new pot!</h1>
        <h2 class="p-5 text-center">Start your own money pot.</h2>
    
        <form id="createPot" action="createPot" method="POST">
            <p id="errorMsg"></p>
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title"
            class="w-full h-10 pl-5 border rounded-lg border-han-purple"><br>
            <label for="goal">Goal Amount:</label><br>
            <input type="number" id="goal" name="goal"
            class="w-full h-10 pl-5 border rounded-lg border-han-purple"><br>
            <label for="currency">Currency</label><br>
            <select name="currency" id="currency"
            class="w-full h-10 pl-5 border rounded-lg border-han-purple">
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
                <option value="USD">USD</option>
            </select><br>
            <label for="cycle">Payment Cycle:</label><br>
            <select name="cycle" id="cycle"
            class="w-full h-10 pl-5 border rounded-lg border-han-purple">
                <option value="weekly">Weekly</option>
                <option value="Bi-weekly">Bi-Weekly</option>
                <option value="Monthly">Monthly</option>
            </select><br>
            <label for="amount">Recurrent payment amount:</label><br>
            <input type="number" id="amount" name="amount"
            class="w-full h-10 pl-5 border rounded-lg border-han-purple"><br>
            <input type="checkbox" id="private" name="private" value="True" checked>
            <label for="private"> Private </label><br>

            <label for="peer1">Peer 1:</label><br>
            <input type="email" id="peer1" name="peer1"
            class="w-full h-10 pl-5 border rounded-lg border-han-purple"><br>
            <label for="peer2">Peer 2:</label><br>
            <input type="email" id="peer2" name="peer2"
            class="w-full h-10 pl-5 border rounded-lg border-han-purple"><br>
            <label for="peer3">Peer 3:</label><br>
            <input type="email" id="peer3" name="peer3"
            class="w-full h-10 pl-5 border rounded-lg border-han-purple"><br>
            <label for="peer4">Peer 1:</label><br>
            <input type="email" id="peer4" name="peer4"
            class="w-full h-10 pl-5 border rounded-lg border-han-purple"><br>
            <div class="p-5 text-center text-xl font-archivo-black">
                <input type="submit" value="Create new Pot" class="w-2/3 h-10 border border-fluorescent-blue rounded-lg bg-fluorescent-blue text-han-purple hover:text-white cursor-pointer lg:w-1/2">
            </div>
        </form>
    </div>
</div>

<!-- This div is to be deleted, it is just to display the users -->
{% if pots == None %}
<h1>No pots yet</h1>
{% else %}
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Goal</th>
            <th>Cycle</th>
            <th>Amount</th>
            <th>Private</th>
            <th>Creator</th>
        </tr>
    {% for pot in pots %}
    <tr>
        <td>{{ pot.id }}</td>
        <td>{{ pot.title }}</td>
        <td>{{ pot.goal }}</td>
        <td>{{ pot.cycle }}</td>
        <td>{{ pot.isPrivate }}</td>
        <td>{{ pot.amount }}</td>
        <td>{{ pot.creator_id }}</td>
    </tr>
    {% endfor %}
    </table>
    
</div>
{% endif %}

{% endblock %}