{% extends 'base.html' %}

{% block content %}
    <h1>Welcome, username</h1>

    <div>
      <p>Create a new pot and invite your friends</p>
      <a href="{{ url_for('create_pot') }}">Create Pot</a>
    </div>

    <h3>Join an existing pot</h3>
    <div id="pots-container" style="width: 80%; display: flex; gap: 1rem;">
      <div style="border: 2px solid black; padding: 1rem;">
        <p>8/10 peers</p>
        <p>100&#163; weekly</p>
        <p>1000&#163; by the 10th week</p>
        <p>2 available spots left</p>
        <button>Join Pot</button>
      </div>
      <div style="border: 2px solid black; padding: 1rem;">
        <p>8/10 peers</p>
        <p>100&#163; weekly</p>
        <p>1000&#163; by the 10th week</p>
        <p>2 available spots left</p>
        <button>Join Pot</button>
      </div>
      <div style="border: 2px solid black; padding: 1rem;">
        <p>8/10 peers</p>
        <p>100&#163; weekly</p>
        <p>1000&#163; by the 10th week</p>
        <p>2 available spots left</p>
        <button>Join Pot</button>
      </div>
    </div>

    <h3>Ongoing pots</h3>
    <div id="pots-ongoing-container" style="width: 80%; display: flex; gap: 1rem;">
      <div style="border: 2px solid black; padding: 1rem;">
        <p>8/10 peers</p>
        <p>100&#163; weekly</p>
        <p>1000&#163; by the 10th week</p>
        <p>2 available spots left</p>
        <div>
          <p>Pot already in progress</p>
        </div>
      </div>
      <div style="border: 2px solid black; padding: 1rem;">
        <p>8/10 peers</p>
        <p>100&#163; weekly</p>
        <p>1000&#163; by the 10th week</p>
        <p>2 available spots left</p>
        <div>
          <p>Pot already in progress</p>
        </div>
      </div>
      <div style="border: 2px solid black; padding: 1rem;">
        <p>8/10 peers</p>
        <p>100&#163; weekly</p>
        <p>1000&#163; by the 10th week</p>
        <p>2 available spots left</p>
        <div>
          <p>Pot already in progress</p>
        </div>
      </div>
    </div>
{% endblock %}