{% extends "base.html" %}
{% block content %}
<nav>
    <div class="nav-left">
      <a href="#">Home</a>
      <a href="#">mony pots</a>
      <a href="#">Register</a>
      <a href="#">Login</a>
    </div>
  </nav>
  <h1>Welcome to money pot</h1>
  <h3>Peer to peer social lending platform</h3>
  <br>
  <h2>Feature 1</h2>
  <div class="row">
    <div class="col-img">
      <img src="image.jpg" alt="image">
    </div>
    <div class="col-txt">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna id blandit tempus, risus magna faucibus risus, id laoreet est ipsum in augue. Aenean id metus id metus aliquet euismod. Nam eget nisi a massa volutpat laoreet. Sed nec aliquet magna, id ornare velit. Ut euismod velit velit, vel suscipit nibh elementum vel. Sed id augue id velit dictum congue eget eget odio.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-txt">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna id blandit tempus, risus magna faucibus risus, id laoreet est ipsum in augue. Aenean id metus id metus aliquet euismod. Nam eget nisi a massa volutpat laoreet. Sed nec aliquet magna, id ornare velit. Ut euismod velit velit, vel suscipit nibh elementum vel. Sed id augue id velit dictum congue eget eget odio.</p>
    </div>
    <div class="col-img">
      <img src="image.jpg" alt="image">
    </div>
  </div>

  <div class="row">
    <div class="col-img">
      <img src="image.jpg" alt="image">
    </div>
    <div class="col-txt">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna id blandit tempus, risus magna faucibus risus, id laoreet est ipsum in augue. Aenean id metus id metus aliquet euismod. Nam eget nisi a massa volutpat laoreet. Sed nec aliquet magna, id ornare velit. Ut euismod velit velit, vel suscipit nibh elementum vel. Sed id augue id velit dictum congue eget eget odio.</p>
    </div>
  </div>
<p>This is main contents of the site</p>

{% endblock %}