{% extends "base.html" %} {% block content %}

<h1>Welcome to money pot</h1>
<h3>Peer to peer social lending platform</h3>
<div class="">
<h2 class="font-bold pt-8">Create your pots and invite others!</h2>

<div class="flex pt-8 max-w-4xl justify-center">
  <div class="">
    <i class="fas fa-money-bill fa-5x pl-5"></i>
  </div>
  <div class="">
    <p class="pl-5">
      Create your own fundraising pots and invite others to contribute. Easily
      set a goal and track your progress. Share your pot with friends and family
      to raise money for whatever you need. Whether it's a special occasion or a
      personal project, our platform makes it easy to reach your financial
      goals.
    </p>
  </div>
</div>

<h2 class="font-bold pt-8">Track your pots!</h2>

<div class="flex pt-8 border-2 border-rose-500 w-[80%] mx-auto my-0" >
  <div class="">
    <p class="text-base">
      Keep track of all your fundraising pots in one place. Monitor
      contributions, set reminders, and see how close you are to reaching your
      goals. Our user-friendly interface allows you to easily manage and update
      your pots, so you can focus on reaching your financial goals.
    </p>
  </div>
  <div class="">
    <i class="fas fa-magnifying-glass-dollar fa-5x"></i>
  </div>
</div>

<h2 class="font-bold pt-8">Join other pots!</h2>

<div class="flex pt-8 max-w-4xl">
  <div class="">
    <i class="fas fa-comments-dollar fa-5x"></i>
  </div>
  <div class="">
    <p class="text-base">
      Join pots created by others and contribute to their fundraising goals.
      Browse a variety of pots and choose the ones that align with your values.
      Support friends, family, or causes you care about by joining their pots
      and making a difference.
    </p>
  </div>
</div>
</div>
{% endblock %}
