{% extends "base.html" %} {% block content %}

<h1 class="pl-3 pr-3">Welcome to Money Pot</h1>

<h3 class="text-center p-4 pb-10 font-inter">The peer to peer social lending platform.</h3>

<!-- feature 1 create pots -->

<div class="w-[80%] mx-auto my-0 2xl:w-[50%]">
  <h2 class="font-bold p-2 text-center md:text-left md:pl-0">Create your pots and invite others!</h2>
  <div class="w-full text-center">
  <i class="fas fa-money-bill fa-5x text-center pb-4 md:float-left text-fluorescent-blue drop-shadow-lg md:pr-8"></i>
  </div>
  <p class="text-center pb-20 md:text-justify">
    Create your own fundraising pots and invite others to contribute. Contributors can then raise the same amount for their own goals within the same pot, everyone wins! 
    Share your pot with friends and family to raise money for whatever you need. Whether it's a special occasion or a personal project, 
    our platform does not hold any money it just organizes the process and makes it easy to reach your financial goals.
  </p>
</div>

<!-- feature 2 track pots -->

<div class="w-[80%] mx-auto my-0 2xl:w-[50%]">
  <h2 class="font-bold p-2 text-center md:text-right md:pl-0">Track your pots!</h2>
  <div class="w-full text-center">
    <i class="fas fa-magnifying-glass-dollar fa-5x text-center pb-4 md:float-right text-fluorescent-blue drop-shadow-lg md:pl-8"></i>
  </div>
  <p class="text-center pb-20 md:text-justify">
    Keep track of all your fundraising pots in one place. Monitor
    contributions, set reminders, and see how close you are to reaching your
    goals. Our user-friendly interface allows you to easily manage and update
    your pots, so you can focus on reaching your financial goals.
  </p>
</div>

<!-- feature 3 join pots -->

<div class="w-[80%] mx-auto my-0 mb-20 2xl:w-[50%]">
  <h2 class="font-bold p-2 text-center md:text-left md:pl-0">Join other pots!</h2>
  <div class="w-full text-center">
    <i class="fas fa-comments-dollar fa-5x text-center pb-4 md:float-left text-fluorescent-blue drop-shadow-lg md:pr-8"></i>
  </div>
  <p class="text-center pb-10 md:text-justify">
    Join money pots created by others and contribute to their fundraising goals while achieving your own at the same time. 
    Browse a variety of pots and choose the ones that align with your values and your financial capacity. 
    Support friends, family, or causes you care about by joining their pots and making a difference for them and for yourself.
  </p>
</div>
</div>
{% endblock %}
