{% extends 'base.html' %}

{% block content %}


    <!-- Header with the create pot button -->
    <header class="mb-[3rem]">
      <p class="p-5 mb-4 text-center text-xl font-bold md:text-left">{{ pot.title }}</p>
    </header>

    <div class="flex flex-col justify-center">
        <p class="text-center text-xl font-bold my-2">{{ pot.amount }}{{ pot.currency }} {{ pot.cycle }}</p>
        <p class="text-center text-xl font-bold mb-6">{{ pot.goal }}{{ pot.currency }} by the 10th week</p>
        <p class="text-end mb-0.5 font-bold mr-3">{{pot.participants}}/10 peers</p>
        <p class="text-end mb-6 font-bold mr-3">2 available spots left</p>
        <a href="{{ url_for('create_pot') }}" class="mx-auto mb-5 py-1.5 bg-fluorescent-blue dark:bg-rajah rounded w-[80%] text-trypan-blue dark:text-raisen-black text-sm font-bold transition-opacity hover:opacity-90 text-center">Join Pot</a>
      </div>

    </div>


{% endblock %}