{% extends "base.html" %}
{% block content %}


<div class="flex h-screen w-screen justify-center items-center">
    <div class="form w-5/6 p-4 m-auto border-2 rounded-lg border-han-purple shadow-2xl md:w-1/2 2xl:w-1/4">

        <h1 class="pt-10 block">Register</h1>
        <h2 class="p-5 text-center">Start your own money pot, or join others.</h2>  

        <form id="signUp" action="signup" method="POST">

            <div class="p-3">
                <p id="errorMsg">
                {% if error != None %}
                {{ error }}
                {% endif %}
                </p>
            </div>
            
            <div class="p-3">
                <label for="fName" class="font-bold">First Name:</label><br>
                <input type="text" id="fName" name="fName" class="w-full h-10 pl-5 border rounded-lg border-han-purple"><br>
            </div>
            <div class="p-3">
                <label for="lName">Last Name:</label><br>
                <input type="text" id="lName" name="lName" class="w-full h-10 pl-5 border rounded-lg border-han-purple"><br>
            </div>
            <div class="p-3">
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" class="w-full h-10 pl-5 border rounded-lg border-han-purple"><br>
            </div>
            <div class="p-3">
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" class="w-full h-10 pl-5 border rounded-lg border-han-purple"><br>
            </div>
            <div class="p-3">
                <label for="checkPassword">Confirm Password:</label><br>
                <input type="password" id="checkPassword" name="checkPassword" class="w-full h-10 pl-5 border rounded-lg border-han-purple"><br>
            </div>
            <div class="p-3 text-center text-xl font-archivo-black">
                <input type="submit" value="Sign Up!" class="w-1/2 h-10 border border-fluorescent-blue rounded-lg bg-fluorescent-blue text-han-purple hover:text-white cursor-pointer md:w-1/4">
            </div>

        </form>
    </div>
</div>

<!-- This div is to be deleted, it is just to display the users -->
{% if users == None %}
<h1>No users</h1>
{% else %}
<div>
    <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Password</th>
        </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.fName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
      </tr>
    {% endfor %}
    </table>
    
</div> 
{% endif %}

{% endblock %}